.img-cont img{
    width: 30vw;
}

.cont{
    display: flex;
    font-family: 'Titillium Web', sans-serif;
}

.header h2{
     color: rgb(255, 198, 11);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cont{
    display: flex;
    justify-content: space-between;
}

.text-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}