<div class="cont">
    <div class="main-cont">
    <div class="img-cont">
        <img src="https://img.freepik.com/premium-photo/warm-toned-vertical-portrait-male-college-professor-looking-camera-classroom-hall-holdi_236854-39207.jpg?w=2000"
            alt="">
    </div>
    <div class="text-cont">
        <div class="headerc">
            <H2>
                <span style="color:orange;">
                HELLO. 
                </span>
            </H2>
            <h4>
                Nice to meet you!
            </h4>
        </div>
        <div class="cont">
            <p>
                <span style="color:orange;">
                
                Curriculum Vitae: </span> <br>
                 <br>
                Assistant Professor in Economics (Senior Grade) <br>
                Department of Economics, <br>
                Chetana’s H.S. College of Commerce & Economics, <br>
                Smt. Kusumtai Chaudhari College of Arts, Mumbai <br>
                Government Colony, Bandra (East): Mumbai <br>
                Email: surenforpublication@gmail.com, surenjadhav@gmail.com <br>
                Mobile No. +91 9869731769
            </p>
        </div>

    </div>
</div>
</div>