<h2> Education!</h2>
<div class="cards">
    <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">⦁ Ph.D. in Arts (Economics) from Center for Advanced Studies in Economics, Department of
            economics (Know as Mumbai School of Economics & Public Finance), University of Mumbai in year 2011. </h2>
                <p class="card__apply">

                </p>

    </div>

    <div class="card card-2">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">⦁ Masters in Economics (M.A. – Economics) from Center of Advanced Studies in Economics,
            Department of Economics, University of Mumbai, October 1994.
        </h2>
        <p class="card__apply">
        </p>
    </div>
    <div class="card card-3">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">⦁ Masters in Political Science (M.A. – Politics) from Department of Civics & Politics,
            University of Mumbai, November 1996.
        </h2>
        <p class="card__apply">

        </p>
    </div>
    <div class="card card-4">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">⦁ Bachelors in Economics (B.A. – Economics) from Vidyawardhini College (Affiliated to
            University of Poona), May 1992.
        </h2>
        <p class="card__apply">

        </p>
    </div>
    <div class="card card-5">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">⦁ Bachelor of Education (B.Ed) Gangamai College of Education, North Maharashtra
            University, May 1999.
        </h2>
        <p class="card__apply">

        </p>
    </div>
    <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <h2 class="card__title">⦁ National Eligibility Test (NET – in Economics) by University Grant Commission (UGC –
            New Delhi) passed in year 2000. </h2>
        <p class="card__apply">

        </p>
    </div>
</div>