<!-- <div class="nav-cont">
    <h2>
        Surendra jadhav
    </h2>

    <div class="nav-top">
        <Ul>
            <li>
              <a href="#">   Education  </a>
                <ul>
                    <a href="#">
                    Major Responsibilties </a>
                </ul>
            </li>
            <li>
                <a href="#">
                Subjects Taught </a>
                <ul>   <a href="#">Area of Interest </a> </ul>
                <ul>  <a href="#">Lanuages Known </a> </ul>
                <ul> <a href="#"> Experince  </a></ul>
                <ul> <a href="#"> Experience as a Visting Facutly </a></ul>
            </li>
            <li>
                <a href="#"> Research & Scholarsips </a>
                <ul>  <a href="#">Research </a></ul>
                <ul>   <a href="#">Scholarsips  </a></ul>
            </li>
            <li>
                <a href="#">  Accuried Traning </a>
            </li>
        </Ul>
    </div>
    <div class="nav-bottom">
        <Ul>
            <li>
                <a href="#">Publication </a>
                <ul>
                    <a href="#">  Book </a>
                </ul>
                <ul>
                    <a href="#">  Chapters </a>
                </ul>
                <ul>
                    <a href="#">   Research </a>
                </ul>
                <ul>
                    <a href="#">Chapters </a>
                </ul>
            </li>
        
        <li> <a href="#">Video Lectures </a></li>
        <li> <a href="#">Live TV  </a></li>
        <li> <a href="#">News Papers </a></li>
    </Ul>
    </div>
    <br>
<div class="footer">
    <span class="material-symbols-outlined">
        youtube_activity 
    </span>
    <span class="material-symbols-outlined">
        favorite
    </span>
    <span class="material-symbols-outlined">
        flight_takeoff
    </span>
</div>
</div> -->


<div class="menu">


    <h2> <span style="color: orange;"> Surendra Jadhav </span> </h2>


    <li class="item" id="mn1">
        <a  class="btn" href="#mn1"> Education</a>
        <div class="submenu">
            <a href="#">Major Responsibilties</a>

        </div>
    </li>
    <li class="item" id="mn2">
        <a class="btn" href="#mn2">Subjects Taught</a>
        <div class="submenu">
            <a href="#">Area of Interest</a>
            <a href="#">Languages known</a>
            <a href="#">Experince</a>
            <a href="#">Experience as a visiting Facutly</a>
        </div>
    </li>
    <li class="item" id="mn3">
        <a class="btn" href="#mn3">Research and Scholarsips</a>
        <div class="submenu">
            <a href="#">Research</a>
            <a href="#">Scholarsips</a>

        </div>
    </li>
    <li class="item" id="mn4">
        <a class="btn" href="#mn4">Recently Accuried Traning</a>

    </li>
    <br>

    <li class="item" id="mn5">
        <a class="btn" href="#mn5">Publications</a>
        <div class="submenu">
            <a href="#">books</a>
            <a href="#">Chapters</a>
            <a href="#">Research</a>
            <a href="#">SChapters </a>
        </div>
    </li>
    <li class="item" id="mn6">
        <a class="btn" href="#mn6">Video Lectures</a>

    </li>
    <li class="item" id="mn7">
        <a class="btn" href="#mn7">Live TV</a>

    </li>
    <li class="item" id="mn8">
        <a class="btn" href="#mn8">News Paper</a>

    </li>

    <div class="footer">
        <img src="/assets/icons/icons8-whatsapp.svg" alt="">
        <img src="/assets/icons/icons8-youtube.svg" alt="">
        <img src="/assets/icons/icons8-instagram.svg" alt="">
        <img src="/assets/icons/icons8-twitter.svg" alt="">
    </div>

</div>