


.side_nav_cont{
    background-color:#D9D9D9 ;
    width:19vw;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* border: 1px solid red; */
    /* position: absolute; */
    margin: 0;
    padding: 0;
}


.nav-middel-top ul li a{
    text-decoration: none;
    color: black;
font-family: 'Signika', sans-serif;
}

.nav-middel-top ul li{
    list-style-type:none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-middel-bottom ul li a{
    text-decoration: none;
    color: black;font-family: 'Signika', sans-serif;
}

.nav-middel-bottom ul li{
    list-style-type:none;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: black; */
}

.nav-middel-top ul li {
    padding: 1vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.nav-name{
    text-align: center;

}



.nav-middel-top{
    
    margin-top: 6ch;
}

.nav-footer{
    position: absolute;
    bottom: 0px;
    border: 1px solid;
    display: flex;
flex-direction: row;

}
.nav-footer p i {

border: 1px solid red;

}