

<router-outlet>
  <div class="main">
  <app-side-nav></app-side-nav>
  <div class="cont-cont">
  <app-content></app-content>
  <br>
  <app-education></app-education>
  <br>
  <app-up-counter></app-up-counter>
  <br>
  <app-r-and-s></app-r-and-s>
  <app-recently-acc></app-recently-acc>
  <app-subjects></app-subjects>
  <br>
  <app-four-in-one></app-four-in-one>
  <br>
  <app-chapters></app-chapters>
  </div>
</div>

  

</router-outlet>
<!-- Jnow you will observe once you make nay changes toh source control mai likh ke aata hai -->
<!-- wo discard kiya tohsarte chnages will be discarded n uske baje mai there is a + symbol -->
<!-- click on that msg likh ki ky changes hai and wo blue commit and done  -->
<!-- most imp is sync after commit -->

<!-- so you can go and check the changes in git -->