<div class="container">
    <div class="top">
    <div class="card">
      <div class="card-header">
        <img src="https://images.unsplash.com/photo-1582313511927-886098e4454e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80" alt="rover" />
      </div>
      <div class="card-body">
        
        <h4>
          Areas of Intrest!
        </h4>
        <ul>
             <li> Caste </li>
             <li> Class and Gender</li>
             <li>Informal Sector Labour</li>
        </ul>
        
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img src="https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZXhwZXJpZW5jZXxlbnwwfHwwfG9yYW5nZXw%3D&auto=format&fit=crop&w=500&q=60" alt="rover" />
      </div>
      <div class="card-body">
        
        <h4>
            Language Known
        </h4>
        <ul>
            <li> English</li>
            <li>Hindi</li>
            <li>Marathi</li>
       </ul>
       
      </div>
    </div>
</div>
    <div class="bottom">
    <div class="card">
      <div class="card-header">
        <img src="https://images.unsplash.com/photo-1605351793335-8f4939f67f97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="ballons" />
      </div>
      <div class="card-body">
       
        <h4>
            Experience
        </h4>
        <p>
            20 Years: Working as an Assistant Professor in Economics (Senior Grade) from last 20 years in Chetana’s H.S. College of Commerce & Economics, Smt. Kusumtai College of Arts, Mumbai. (Teaching Statement is attached separately).
        </p>
       
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <img src="https://images.unsplash.com/photo-1518546488314-6ed28acc48e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
      </div>
      <div class="card-body">
        
        <h4>
            Experience as a visiting research scholar: (October-November 2006): 

        </h4>
        <p>
        <ul>
            <li>Institute of World Economics and Politics, Chinese Academy of Social Science-Beijing-China.</li>
            <li>Shanghai Academy of Social Science, Shahghai-China.
            </li>
            <li>Guangdong Academy of Social Science, Guangzhou city, Guangdong Provinces-China.
            </li>
        </ul>
        
       
      </div>
    </div>
</div>