<div class="nav-cont">
    <h2>
        Surendra jadhav
    </h2>
    <div class="nav-top">
        <Ul>
            <li>
              <a href="#">   Education  </a>
                <ul>
                    <a href="#">
                    Major Responsibilties </a>
                </ul>
            </li>
            <li>
                <a href="#">
                Subjects Taught </a>
                <ul>   <a href="#">Area of Interest </a> </ul>
                <ul>  <a href="#">Lanuages Known </a> </ul>
                <ul> <a href="#"> Experince  </a></ul>
                <ul> <a href="#"> Experience as a Visting Facutly </a></ul>
            </li>
            <li>
                <a href="#"> Research & Scholarsips </a>
                <ul>  <a href="#">Research </a></ul>
                <ul>   <a href="#">Scholarsips  </a></ul>
            </li>
            <li>
                <a href="#">  Accuried Traning </a>
            </li>
        </Ul>
    </div>
    <div class="nav-bottom">
        <Ul>
            <li>
                <a href="#">Publication </a>
                <ul>
                    <a href="#">  Book </a>
                </ul>
                <ul>
                    <a href="#">  Chapters </a>
                </ul>
                <ul>
                    <a href="#">   Research </a>
                </ul>
                <ul>
                    <a href="#">Chapters </a>
                </ul>
            </li>
        
        <li> <a href="#">Video Lectures </a></li>
        <li> <a href="#">Live TV  </a></li>
        <li> <a href="#">News Papers </a></li>
    </Ul>
    </div>
    <br>
<div class="footer">
    <span class="material-symbols-outlined">
        youtube_activity 
    </span>
    <span class="material-symbols-outlined">
        favorite
    </span>
    <span class="material-symbols-outlined">
        flight_takeoff
    </span>
</div>
</div>
