<div class="header-body">
    <!-- <div class="num-wrapper"> -->
            <div class="num-1">
                <h1>
                    {{ExperienceCount}}
                </h1>
                <h6>
                    Experience
                </h6>
            </div>
            <div class="num-1">
                <h1>
                    {{ArticlesCount}}
                </h1>
                <h6>
                    News Paper Articles
                </h6>
            </div>
            <div class="num-1">
                <h1>
                    {{ResearchCount}}

                </h1>
                <h6>
                    Research Papers
                </h6>
            </div>
            <div class="num-1">
                <h1>
                    {{ChaptersCount}}

                </h1>
                <h6>
                    Chapters
                </h6>
            </div>
           
    <!-- </div> -->
</div>